<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expenses chart</title>
    <script
      src="https://kit.fontawesome.com/7b332efbd3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../scss/main.css" />
  </head>
  <body>
    <main class="expense-page">
      <svg
        class="nav_icons back_icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 320 512"
      >
        <path
          d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
        />
      </svg>
      <h2 class="Add_expense">Add Category</h2>
      <svg
        class="nav_icons options_icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          d="M0 416c0 17.7 14.3 32 32 32l54.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 448c17.7 0 32-14.3 32-32s-14.3-32-32-32l-246.7 0c-12.3-28.3-40.5-48-73.3-48s-61 19.7-73.3 48L32 384c-17.7 0-32 14.3-32 32zm128 0a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM320 256a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zm32-80c-32.8 0-61 19.7-73.3 48L32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l246.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48l54.7 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-54.7 0c-12.3-28.3-40.5-48-73.3-48zM192 128a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm73.3-64C253 35.7 224.8 16 192 16s-61 19.7-73.3 48L32 64C14.3 64 0 78.3 0 96s14.3 32 32 32l86.7 0c12.3 28.3 40.5 48 73.3 48s61-19.7 73.3-48L480 128c17.7 0 32-14.3 32-32s-14.3-32-32-32L265.3 64z"
        />
      </svg>
      <div class="add_expense_form">
        <section class="category_list">
          <div>
            <h3>Category List</h3>
          </div>

          <div class="expenses__list">
            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-shopping-bag expense-item__icon--red"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">Shopping</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>

            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-home expense-item__icon--deep-purple"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">House</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>

            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-paw expense-item__icon--blue"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">Pets</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>

            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-star expense-item__icon--amber"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">Important</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>

            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-bus expense-item__icon--green"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">Transport</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>

            <div class="category_card">
              <div class="expense-item__details">
                <i class="fas fa-film expense-item__icon--crimson"></i>
                <div class="expense-item__info">
                  <p class="expense-item__info-category">Entertainment</p>
                </div>
              </div>
              <div class="category_card-buttons">
                <button class="category_icons">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="category_icons">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <button class="button-add-expense">
        <i class="fas fa-plus"></i>
      </button>
    </main>

    <script type="module" src="../src/localstorage.js"></script>
  </body>
</html>
