<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker App</title>
    <link type="text/css" rel="stylesheet" href="../scss/main.css" />
    <script
      src="https://kit.fontawesome.com/7b332efbd3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="homepage">
      <header class="homepage__header">
        <div class="header__info">
          <p class="header__greeting">Welcome</p>
          <p class="header__user-name">Enjelin Morgeana</p>
        </div>
        <div class="header__settings">
          <i class="fas fa-sliders-h"></i>
        </div>
      </header>

      <div class="expenses-month">
        <button class="month-selector__button">
          <i class="fas fa-chevron-left"></i>
        </button>
        <p class="month-selector__label">March 2022</p>
        <button class="month-selector__button">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>

      <div class="expenses-total">
        <p class="expenses-total__title">Total Expenses</p>
        <div class="expenses-total__content">
          <i class="expenses-total__content-icon fas fa-shopping-cart"></i>
          <p class="expenses-total__content-amount">$2,548.00</p>
        </div>
      </div>

      <section class="expenses__history">
        <div class="expenses__header">
          <h3>Expenses History</h3>
          <a href="#/expenses" class="expenses__see-all">See all</a>
        </div>

        <div class="expenses__list">
          <div class="expense-item expense-item">
            <div class="expense-item__details">
              <i class="fas fa-shopping-bag expense-item__icon--red"></i>
              <div class="expense-item__info">
                <p class="expense-item__info-category">Shopping</p>
                <p class="expense-item__info-description">Buy some groceries</p>
              </div>
            </div>
            <div class="expense-item__summary">
              <p class="expense-item__summary-amount">- $120</p>
              <p class="expense-item__summary-time">10:00 AM - 22 FEB 2024</p>
            </div>
          </div>

          
        </div>
      </section>

      <button class="homepage__add-expense">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </body>
</html>