@import "../shared/_variables.scss";

body {
  background-image: linear-gradient(
    to bottom,
    $color-primary,
    $color-secondary
  );
  background-attachment: fixed;
  font-family: $font-principal;
  font-size: $regular-size;
  display: flex;
  flex-direction: column;
}

.nav_icons{
  fill: $color-light;
  height: 28px;
  width: 28px;
  margin-top: 20px;
  position: absolute;
  cursor: pointer;
}
.back_icon {
  left: 24px;
}

h2 {
  font-family: $font-secondary;
  font-weight: 800;
  font-size: 24px;
  align-self: center;
  color: $color-light;
}

.options_icon {
  right: 24px;
}

.add_expense_form {
  background-color: $color-light;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 28px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
}

.add_expense_form_options {
  align-self: center;
  font-family: $font-secondary;
  font-size: 12 px;
  font-weight: 500;
  color: $color-dark-gray;
}

#category_select {
  border: solid 1px $color-gray;
  border-radius: 8px;
  height: 50px;
  width: 318px;
  color: $color-dark-gray;
  padding: 10px;
}

#amount {
  border: solid 1px $color-gray;
  border-radius: 8px;
  height: 50px;
  width: 318px;
  color: $color-dark-gray;
}

#date {
  border: solid 1px $color-gray;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 300px;
  color: $color-dark-gray;
}

#description {
  border: solid 1px $color-gray;
  border-radius: 8px;
  height: 118px;
  width: 318px;
  color: $color-dark-gray;
}

.clear_option button {
  position: relative;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  right: 15%;
  top: -10px;
  color: $color-primary;
}

.manage_icons {
  fill: $color-dark-gray;
  height: 21px;
  width: 21px;
  top: 120px;
  position: absolute;
  cursor: pointer;
}

.edit_icon{
  right: 90px;
}

.delete_icon {
  right: 55px;
}
