@use '../shared/variables' as variables;

.secondary-content {
    position: relative;
    background-color: variables.$color-light;
    border-radius: 2.5rem 2.5rem 0 0 ;
    width: 100%;
    top: -4rem;
    padding: 2rem 0rem;
}