<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker App</title>
    <link type="text/css" rel="stylesheet" href="../scss/main.css" />
  </head>
  <body>
    <header></header>
    <main class= expense-page>
      <div class="confirmation_container">
        <h3 id="remove_question">Remove this transaction?</h3>
        <p id="remove_question_text">Are you sure do you wanna remove this transaction?</p>
        <div class="confirmation_buttons">
          <button class="confirmation_button" id="no">No</button>
          <button class="confirmation_button" id="yes">Yes</button>
        </div>
      </div>
    </main>
    <script type="module" src="/app.js"></script>
  </body>
</html>
